.chamberToneA {
  position: relative;
  z-index: 10;
  padding-top: clamp(3rem, 6vw, 5rem);
  padding-bottom: clamp(3rem, 6vw, 5rem);
}

.chamberToneA:first-child,
.chamberToneA:first-of-type {
  padding-top: 0;
  padding-bottom: var(--space-2xl);
}

.chamberDeckModule {
  position: relative;
  z-index: 20;
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  margin-top: var(--space-4xl);
  margin-bottom: var(--space-4xl);
  background-color: var(--tone-b);
  box-shadow: 0 0 50px rgb(0 0 0 / 80%);
}

/* Eliminate bottom margin and seal the final deck to the floor when at the end of the page */
.chamberDeckModule:last-child,
.chamberDeckModule:last-of-type {
  padding-bottom: var(--space-xl);
  margin-bottom: 0;
}

.chamberDeckBody {
  position: relative;
  z-index: 20;
}

.soft {
  background: linear-gradient(180deg, transparent, rgb(255 255 255 / 2%) 15%, rgb(255 255 255 / 2%) 85%, transparent);
}
